slack-sales-notification/My workflow-n8n-SlackSalesMessage.json
{
  "name": "My workflow-n8n-SlackSalesMessage",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Request an installation",
        "formDescription": "Fill out this form to request an installation. We'll reach out via email to finalize installation. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -464,
        -96
      ],
      "id": "62b1c7bb-3bb0-49b8-ab0c-51db9efbc7bc",
      "name": "On form submission",
      "webhookId": "17688b4c-3101-41ef-b9f4-ea0014d9fa2c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67d80c6d-847b-40bd-ba2a-f98f51251617",
              "leftValue": "={{ $json['Date'].toDateTime()}}",
              "rightValue": "={{ $now.plus(7,'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -96
      ],
      "id": "d4bb4822-27f7-43f5-94b3-43179f4bf9c6",
      "name": "Is within 7 days?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        32,
        16
      ],
      "id": "e9dc450b-1072-43c6-91cd-2b8b9f3c85a3",
      "name": "todo"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097YDJ9YD7",
          "mode": "list",
          "cachedResultName": "sales"
        },
        "text": "=New installation request within 7 days. \nEmail:  {{ $json.Email }}\nDate: {{ $json.Date }}\n\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -48,
        -192
      ],
      "id": "2872a962-d428-43c1-ae02-d0eec7835e87",
      "name": "Send a message",
      "webhookId": "e365220e-67d6-40d1-8bc8-57dc4d510781",
      "credentials": {
        "slackOAuth2Api": {
          "id": "9vgkYzA4RfZZwDiN",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Email": "test@gmail.com",
          "Date": "2025-08-01",
          "submittedAt": "2025-07-25T11:53:05.570-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Is within 7 days?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is within 7 days?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8247583-600d-43b1-b9c9-ae4c05a16537",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8726993f4b35c3706958badb07de9423b9c3740308f2787369b9983b464dee4b"
  },
  "id": "hRazz9Gyit1eisf8",
  "tags": []
}